@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.main-bg-clr {
    background-color: rgb(12, 20, 87);
}
.main-bg-clr-50 {
    background-color: rgb(12 20 87 / 13%);
}

.main-clr {
    color : rgb(12, 20, 87);
}